@keyframes fly {
        0% {
                opacity: 100;
                transform: translate(0, 0);
        }

        100% {
                opacity: 0;
                transform: translate(0px, -1400px);

        }
}

.flying-coin {
        position: absolute;
        width: 40px;
        height: 40px;
        animation: fly 2s forwards;
        pointer-events: none;
        z-index: 1000;
}


.shadow-top-golden {
        box-shadow: 100px 10px rgba(255, 215, 0, 0.5);
}